[submodule "models/timesfm-2.5-200m-pytorch"]
	path = models/timesfm-2.5-200m-pytorch
	url = https://www.modelscope.cn/google/timesfm-2.5-200m-pytorch.git
[submodule "models/chronos-2"]
	path = models/chronos-2
	url = https://www.modelscope.cn/amazon/chronos-2.git
[submodule "models/tirex-model"]
	path = models/tirex-model
	url = https://www.modelscope.cn/NX-AI/TiRex.git
